.slidingTextWrapper {
  height: 180px;
  overflow: hidden;
}

.slidingText {
  animation-name: change;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  /* animation: change 16s ease-in-out infinite; */
  align-content: center;
}

@keyframes change {
  /* 0% {
    transform: translate3d(0, 100%, 0);
  } */

  /* paling bawah */
  /* 100% {
    transform: translate3d(0, -340%, 0);
  }

  25% {
    transform: translate3d(0, -30%, 0);
  }

  50% {
    transform: translate3d(0, -70%, 0);
  }

  75% {
    transform: translate3d(0, -120%, 0);
  } */

  0%,
  12.66% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -110%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -230%, 10px);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -340%, 0);
  }

  100% {
    transform: translate3d(0, -300%, 0);
    /* FIX */
    /* transform: translate3d(0, -340%, 0); */
    background-color: yellowgreen;
  }
}
